.custom-form-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-form-group {
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.custom-form-group h2 {
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.custom-form-group input[type="number"] {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.custom-form-group input[type="number"]:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.edit {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.edit:hover {
  background-color: #218838;
}
