.slide-container {
  position: relative;
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.slide-data-container {
  position: absolute;
  bottom: 50px;
}
img {
  width: 100%;
  height: 600px;
  display: block;
  object-fit: cover;
}

.slide-container .fa-solid {
  font-size: 5rem;
  color: whitesmoke;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fa-angle-left {
  margin-left: 20px;
  left: 0;
}

.fa-angle-right {
  margin-right: 20px;
  right: 0;
}
.slide-title {
  font-size: 2.5rem;
  color: white;
}
.navigate-btn {
  padding: 10px 20px;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  color: black;
  background-color: gray;
  margin-top: 20px;
}
.navigate-btn:hover {
  filter: brightness(85%);
  cursor: pointer;
}
.slide-title-container {
  padding: 40px 0px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 98.5vw;
}

.slide-container .slide-title-container:hover .slide-title {
  transform: translateY(10px);
  transition: all 0.5s ease-in-out;
}

.slide-container .slide-title-container:not(:hover) .slide-title {
  transform: none;
  transition: all 0.5s ease-in-out;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

.Blogs-card {
  width: calc(25% - 20px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
}

.Blogs-card:hover {
  transform: translateY(-10px);
}

.Blogs-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-content p {
  margin: 0;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.blogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.blog-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}
.blog-sub-title {
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
  color: #555;
}
@media screen and (max-width: 850px) {
  .Blogs-card {
    width: 100%;
  }
}

.faqs {
  color: #333;
}
