@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.App {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}
.Toastify__toast-container {
  margin-top: 1cm;
}
